.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.title{
  width:100%;
}

.profile{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  text-align: center;
  display: table;
}

.profile p{
  color:#fff;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-menu{
  /* left: -104px !important; */
  /* padding-left: 10px;
    padding-right: 10px; */
    padding: 0px;
}
.user-info{
  display: inline-flex;
  padding: 10px 10px;
    /* padding-right: 10px; */
}
.dropdown-menu .profilePic{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  text-align: center;
  display: table;
}
.dropdown-menu .profilePic p{
  color:#fff;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.user-details{
  width: 150px;
  padding-left: 10px;
}
.user-details .user-email{
  color: #999494;
}
.user-details .user-name{
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0px !important;
}
.user-info-actions{
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  padding: 10px 0;
  width: 100%;
  display: table;
}

.action-btns-profile{
  display: table-cell;
    text-align: left;
    padding: 0px 10px;
}

.action-btns-logout{
  display: table-cell;
    text-align: right;
    padding: 0px 10px;
}

.user-info-actions button{
  color: #666;
    cursor: default;
    text-decoration: none;
    border-color: #c6c6c6;
}
