/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body { margin: 0; overflow-x: hidden; }
.p-b-10{
  padding-bottom: 10px;
}
.padding-0{
  padding: 0px !important;
}












